<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	meta(http-equiv="X-UA-Compatible", content="ie=edge")
	link(rel="stylesheet", href="css/owl.carousel.min.css")
	link(rel="stylesheet", href="css/owl.theme.default.min.css")
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
	link(rel="stylesheet", href="css/style.css")
	title CompetitiveSV
body
	
	.banner
		.banner__Gradient
			.Logo__Container
				img.Logo__Competitive.img-fluid(src="img/logo1.png", alt="Logo Competitive Sports Venezuela")
	header
		.back_color#back_color
			.headerContainer#headerContainer
				.headerBox.col-sm-12.container.align-self-center#headerBox
					nav.navbar.ulContainer
						ul.navbar-nav.principalNav
							li.nav-item
								a(href="index.html") Inicio
							li.nav-item
								a(href="noticias.html") Noticias
							li.nav-item
								a(href="videos.html") Videos
							li.nav-item
								a(href="./contactos.html") Contactos
							
					form.Btn__Donar(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank")
						input(type="hidden" name="cmd" value="_s-xclick")
						input(type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHPwYJKoZIhvcNAQcEoIIHMDCCBywCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYAUOHh3o45q3aO7xdGP+N3BUhAypPEwy7/iTL8EGxeuD/naH753smI01qYGs+dxrD4PAGzUiLJzzs+v7Rv+GPmvAz4DNI6ecB4V83bsItUYIkDMlbHcvWyjheoly39/DU6ARg8hrrOQyTCgbfmoeipqS+qeEXAGRZ7w2+Wev1QqTDELMAkGBSsOAwIaBQAwgbwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQI3sT2atKuAxWAgZi9K/0vFIOp3WfV9nc7xeWQFqYVHUO4fSrukzQT/5Cdb3gfmZo4XHcNPapXOi4HYlvd1ISXQ/LJDe9192JK8mq3VIBhDMm2dtr2ymxQrK0EANxLLzCg03yxLXRyms0DxFhOT+wEKSrgXFHC9IhLtxATE4d5Je7zkLSyA6stg+x5hbXp7L2w/V3LPAHoAGABA69X/SlvZ7wvlKCCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTE3MDgxNDAzMDYzMlowIwYJKoZIhvcNAQkEMRYEFM37/VsA4j5j7vxgnRDfv8D98r8JMA0GCSqGSIb3DQEBAQUABIGArjWuveeT1N6xmJvGdyDZ7b95vGnXWh1iiSXApPPeYOBvsczT1ekWGhtY562sgokR/ftUbJ22TaESad9BTF9fS+pDlO7mwgKuLUT21zyH7cTudVAPlcVvKV4QTn9YxtpSCjVFe/QwCgpM7SGDvrOGJFihFAN2Y8rUyPgbSTeaGsQ=-----END PKCS7-----")
						input.Btn_Donar_Size.center-block(type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.")
						img(alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1")

		
					.botonDesplegable
						button(class="btonMenuResponsive" type="button" id="btonMenuResponsive")
							span(class="fa fa-bars")

						
	
	section
		.slideContainer.owl-carousel
			.juegosContainer
				a(href="")
					img.img-fluid(src="img/csgo.png", alt="")
			.juegosContainer
				a(href="")
					img.img-fluid(src="img/dota.png", alt="")
			.juegosContainer
				a(href="")
					img.img-fluid(src="img/fifa17.png", alt="")
			.juegosContainer
				a(href="")
					img.img-fluid(src="img/Hearthstone.png", alt="")
			.juegosContainer
				a(href="")
					img.img-fluid(src="img/lol.png", alt="")
			.juegosContainer
				a(href="")
					img.img-fluid(src="img/magic.png", alt="")
			.juegosContainer
				a(href="")
					img.img-fluid(src="img/Paladins.png", alt="")
			.juegosContainer
				a(href="")
					img.img-fluid(src="img/rocketleague.png", alt="")
			.juegosContainer
				a(href="")
					img.img-fluid(src="img/starcraft.png", alt="")
			.juegosContainer
				a(href="")
					img.img-fluid(src="img/streetfighter.png", alt="")
	
	.container.col-lg-12
		.contentContainer.container
			main.col-xl-8.col-md-12
			
				.principalSection.col-md-12
					.news
						.titleNews
							h3 Últimas Noticias
						
						.title__thumbs__Container.container
							a(href="#")
								h3.title__container Gran torneo de hearthstone en Caracas
							span.title__info Publicado el: fecha | categorias
						.thumb.container
							.imageThumbContainer
								img.img-fluid(src="http://img3.meristation.as.com/files/imagenes/general/league-of-legends_0.jpg", alt="")
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt repudiandae tenetur nihil asperiores corporis quia adipisci blanditiis temporibus veritatis similique in, libero eligendi nobis mollitia explicabo dicta, vitae consectetur quod. 
								a(href="") Ver más

						.thumb.container
							.imageThumbContainer
								img.img-fluid(src="http://gaming-tools.com/wp-content/uploads/2015/08/cs-go-anti-terrorist.jpg", alt="")
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt repudiandae tenetur nihil asperiores corporis quia adipisci blanditiis temporibus veritatis similique in, libero eligendi nobis mollitia explicabo dicta, vitae consectetur quod. 
								a(href="") Ver más
						.thumb.container
							.imageThumbContainer
								img.img-fluid(src="https://cdn3.uvnimg.com/4e/ae/5a7e1bcb4bef93e20dee206e9a27/rocket-league-championship.jpg", alt="")
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt repudiandae tenetur nihil asperiores corporis quia adipisci blanditiis temporibus veritatis similique in, libero eligendi nobis mollitia explicabo dicta, vitae consectetur quod. 
								a(href="") Ver más
							
					.Videos
						.titleVideos
							h3 Videos más recientes
						.thumbVideos.container
							.videos.col-xl-6.col-lg-12.col-12
								iframe.embed-responsive-item(src="https://www.youtube.com/embed/lTLqmPoJbJc" frameborder="0" allowfullscreen)
								h5  Lorem ipsum dolor sit amet.
							.videos.col-xl-6.col-lg-6.col-12
								iframe.embed-responsive-item(src="https://www.youtube.com/embed/lTLqmPoJbJc" frameborder="0" allowfullscreen)
								h5  Lorem ipsum dolor sit amet.
							.videos.col-xl-6.col-lg-6.col-12
								iframe.embed-responsive-item(src="https://www.youtube.com/embed/lTLqmPoJbJc" frameborder="0" allowfullscreen)
								h5  Lorem ipsum dolor sit amet.
							.videos.col-xl-6.col-lg-12.col-12
								iframe.embed-responsive-item(src="https://www.youtube.com/embed/lTLqmPoJbJc" frameborder="0" allowfullscreen)
								h5  Lorem ipsum dolor sit amet.

			aside.col-xl-4.col-md-12
				.search
					form.form-inline(action="#")
						.form-group
							input.form-control(type="search" placeholder="¿Qué necesitas?")
							input.form-control.btnBuscar(type="submit" value="Buscar")
				.about
					h3.text-center Nosotros
					p.text-justify Somos un grupo de gamers apasionados por los esports que queremos apoyar a la comunidad en nuestro país y poco a poco hacerla crecer, nuestro lema es "mientras más, mejor".
				
				nav.navbar
					h3.Post-recientes Posts Recientes
					ul.navbar-nav.mr-auto
						li.nav-item
							a.nav-link(href="#") Lorem ipsum dolor sit amet. 
						li.nav-item
							a.nav-link(href="#") Lorem ipsum dolor sit amet. 
						li.nav-item
							a.nav-link(href="#") Lorem ipsum dolor sit amet.
				
				.redes.container
					.titleRedes.text-center
						h3 Síguenos en
					.logoRedes.block-center
						a(href="#")
							img.img-fluid(src="img/facebook-logo.png", alt="")
					img.img-fluid.flechaSen(src="img/flecha.png", alt="")


				
				.categorias
					h3.text-center Categorías
					nav.navbar
						ul.navbar-nav.mr-auto.row
							li.nav-item
								a.nav-link(href="#") Shooters
							li.nav-item
								a.nav-link(href="#") Pelea
							li.nav-item
								a.nav-link(href="#") MOBA
							li.nav-item
								a.nav-link(href="#") CARTAS
							li.nav-item
								a.nav-link(href="#") Estrategia
							li.nav-item
								a.nav-link(href="#") Fps
							li.nav-item
								a.nav-link(href="#") 2D
							li.nav-item
								a.nav-link(href="#") 3D
							li.nav-item
								a.nav-link(href="#") Nuevos
							li.nav-item
								a.nav-link(href="#") Carros

	
	footer
		.footerContainer
			p.text-center Se reservan todos los derechos a Competitive Sports Venezuela, 2017.
					
							
				
		


	
      

	script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous")
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous")
	script(src="https://use.fontawesome.com/699d33b879.js")
	script(src="js/owl.carousel.min.js")
	script(src="js/jqueryscripts.js")
	script(src="js/index.js")
