<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	meta(http-equiv="X-UA-Compatible", content="ie=edge")
	link(rel="stylesheet", href="css/owl.carousel.min.css")
	link(rel="stylesheet", href="css/owl.theme.default.min.css")
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
	link(rel="stylesheet", href="css/style.css")
	title CompetitiveSV
body
	.banner
		.banner__Gradient
	header
		.back_color
			.headerContainer
				.headerBox.col-sm-12.container.align-self-center
					nav.navbar.ulContainer
						ul.navbar-nav.principalNav
							li.nav-item
								a(href="./index.html") Inicio
							li.nav-item
								a(href="./noticias.html") Noticias
							li.nav-item
								a(href="./videos.html") Videos
							li.nav-item
								a(href="./contactos.html") Contactos
							li.nav-item
								a(href="#") Donaciones
					.botonDesplegable
						button(class="btonMenuResponsive" type="button" id="btonMenuResponsive")
							span(class="fa fa-bars")

						
	
	section
		.slideContainer.owl-carousel
			.juegosContainer
				a(href="")
					img.img-fluid(src="img/csgo.png", alt="")
			.juegosContainer
				a(href="")
					img.img-fluid(src="img/dota.png", alt="")
			.juegosContainer
				a(href="")
					img.img-fluid(src="img/fifa17.png", alt="")
			.juegosContainer
				a(href="")
					img.img-fluid(src="img/Hearthstone.png", alt="")
			.juegosContainer
				a(href="")
					img.img-fluid(src="img/lol.png", alt="")
			.juegosContainer
				a(href="")
					img.img-fluid(src="img/magic.png", alt="")
			.juegosContainer
				a(href="")
					img.img-fluid(src="img/Paladins.png", alt="")
			.juegosContainer
				a(href="")
					img.img-fluid(src="img/rocketleague.png", alt="")
			.juegosContainer
				a(href="")
					img.img-fluid(src="img/starcraft.png", alt="")
			.juegosContainer
				a(href="")
					img.img-fluid(src="img/streetfighter.png", alt="")
	
	.container.col-lg-12
		.contentContainer.container
			main.col-xl-8.col-md-12
			
				.principalSection.col-md-12
					.news
						.titleNews
							h3 Videos
						.Videos
							.thumbVideos.container
								.videos.col-xl-6.col-lg-12.col-12
									h5  Lorem ipsum dolor sit amet.
									iframe.embed-responsive-item(src="https://www.youtube.com/embed/lTLqmPoJbJc" frameborder="0" allowfullscreen)

								.videos.col-xl-6.col-lg-6.col-12
									h5  Lorem ipsum dolor sit amet.
									iframe.embed-responsive-item(src="https://www.youtube.com/embed/lTLqmPoJbJc" frameborder="0" allowfullscreen)

								.videos.col-xl-6.col-lg-6.col-12
									h5  Lorem ipsum dolor sit amet.
									iframe.embed-responsive-item(src="https://www.youtube.com/embed/lTLqmPoJbJc" frameborder="0" allowfullscreen)

								.videos.col-xl-6.col-lg-12.col-12
									h5  Lorem ipsum dolor sit amet.
									iframe.embed-responsive-item(src="https://www.youtube.com/embed/lTLqmPoJbJc" frameborder="0" allowfullscreen)
			aside.col-xl-4.col-md-12
				.search
					form.form-inline(action="#")
						.form-group
							input.form-control(type="search" placeholder="¿Qué necesitas?")
							input.form-control.btnBuscar(type="submit" value="Buscar")
				nav.navbar
					h3.Post-recientes Posts Recientes
					ul.navbar-nav.mr-auto
						li.nav-item
							a.nav-link(href="#") Lorem ipsum dolor sit amet. 
						li.nav-item
							a.nav-link(href="#") Lorem ipsum dolor sit amet. 
						li.nav-item
							a.nav-link(href="#") Lorem ipsum dolor sit amet. 
						
				
				.redes.container
					.titleRedes.text-center
						h3 Síguenos en
					.logoRedes.block-center
						a(href="#")
							img.img-fluid(src="img/facebook-logo.png", alt="")
					img.img-fluid.flechaSen(src="img/flecha.png", alt="")


				.publicidadContainer
					.publicidad
					p.form-text.text-muted.text-center Publicidad
				.categorias
					h3.text-center Categorías
					nav.navbar
						ul.navbar-nav.mr-auto.row
							li.nav-item
								a.nav-link(href="#") Shooters
							li.nav-item
								a.nav-link(href="#") Pelea
							li.nav-item
								a.nav-link(href="#") MOBA
							li.nav-item
								a.nav-link(href="#") CARTAS
							li.nav-item
								a.nav-link(href="#") Estrategia
							li.nav-item
								a.nav-link(href="#") Fps
							li.nav-item
								a.nav-link(href="#") 2D
							li.nav-item
								a.nav-link(href="#") 3D
							li.nav-item
								a.nav-link(href="#") Nuevos
							li.nav-item
								a.nav-link(href="#") Carros

	footer
		.footerContainer
			p.text-center Se reservan todos los derechos a Competitive Sports Venezuela, 2017.
					
							
				
		


		
	  

	script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous")
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous")
	script(src="https://use.fontawesome.com/699d33b879.js")
	script(src="js/owl.carousel.min.js")
	script(src="js/jqueryscripts.js")
	script(src="js/index.js")
